/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  font-weight: bold;
}

#bullseye {
  background-color: #D04A41;
}

#bullseye:hover {
  opacity: 0.5;
}

.green {
  background-color: rgb(148, 179, 148);
  border: 5px dashed green;
}

.example {
  font-style: italic;
}

.yellow p:nth-child(2) {
  opacity: 0.0;
}

h1, h2 {
  font-size: 3em;
}

.target.container {
  background-color: #facade;
}

.ring {
  border-color: gray;
}

.container div p:first-child {
  text-decoration: underline;
}


