
html, body {
  background-color: #facade;
  text-align: center;
}

div {
  border: 1px solid black;
  margin: 25px;
  width: 150px;
}

li {
  display: inline-block;
  width: 30%;
}

div.container {
  margin: 2em auto;
  width: 600px;
  background-color: white;
}

.container div {
  display: inline-block;
}

.red {
  background-color: rgb(202, 23, 23);
}

.blue {
  background-color: rgb(153, 210, 255);
}

.yellow {
  background-color: rgb(235, 235, 87);
}

h2 {
  color: rgb(202, 23, 23);
}

.target {
  position: relative;
  height: 8em;
}

.centered {
  margin: 0 auto;
  width: 33%;
  height: 100%;
}

.wrapper {
  background-color: #facade;
  position: relative;
}

.target div.centered.wrapper {
  height: 8em;
  width: 8em;
  border-top: none;
  border-bottom: none;
  background-color: #facade;
}

.ring {
  margin: 0 auto;
  width: 40%;
  height: 50%;
  border: 1px solid black;
  border-radius: 50%;
}

.outermost {
  height: 100%;
  width: 100%;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  font-weight: bold;
}

.green {
  background-color: rgb(148, 179, 148);
  border: 2px dashed #facade;
}

.yellow p:nth-child(2) {
  opacity: 0.0;
}




